<a href="https://colab.research.google.com/github/MelodyFox/Snakycode/blob/main/pandaas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import numpy as np
import pandas as pd


exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'lab': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}

exf= pd.DataFrame.from_dict(exam_data)

exf.set_index("lab",inplace=True)

exft=exf.head(n=3)

exfn= exf.loc[exf["score"]>1]

ext=exf.iloc[:,:2]

nrow= {'name':'Suresh', 'score':15.5, 'attempts':1, 'qualify':'yes','lab':'k'}

exfk= exfn.append(nrow,ignore_index=True)

exfk.set_index("lab",inplace=True)

del exfk["attempts"]

slist=exfk["score"].tolist()
sclist=[]

for i in slist:
  if i>10:
    sclist.append(1)
  else:
    sclist.append(0)

sccol=pd.DataFrame(sclist)

exfs=pd.concat([exfk,sccol])



print(exfl)
print(exft)
print(exfn)
print(ext)
print(exfk)
print(exfs)

exfs.to_csv('my_data.csv')

None
          name  score  attempts qualify
lab
a    Anastasia   12.5         1     yes
b         Dima    9.0         3      no
c    Katherine   16.5         2     yes
          name  score  attempts qualify
lab
a    Anastasia   12.5         1     yes
b         Dima    9.0         3      no
c    Katherine   16.5         2     yes
e        Emily    9.0         2      no
f      Michael   20.0         3     yes
g      Matthew   14.5         1     yes
i        Kevin    8.0         2      no
j        Jonas   19.0         1     yes
          name  score
lab
a    Anastasia   12.5
b         Dima    9.0
c    Katherine   16.5
d        James    NaN
e        Emily    9.0
f      Michael   20.0
g      Matthew   14.5
h        Laura    NaN
i        Kevin    8.0
j        Jonas   19.0
          name  score qualify
lab
NaN  Anastasia   12.5     yes
NaN       Dima    9.0      no
NaN  Katherine   16.5     yes
NaN      Emily    9.0      no
NaN    Michael   20.0     yes
NaN    Matthew   14.5     yes
NaN      Kevin    8.0      no
NaN      Jonas   19.0     yes
k       Suresh   15.5     yes
       0       name qualify  score
NaN  NaN  Anastasia     yes   12.5
NaN  NaN       Dima      no    9.0
NaN  NaN  Katherine     yes   16.5
NaN  NaN      Emily      no    9.0
NaN  NaN    Michael     yes   20.0
NaN  NaN    Matthew     yes   14.5
NaN  NaN      Kevin      no    8.0
NaN  NaN      Jonas     yes   19.0
k    NaN     Suresh     yes   15.5
0    1.0        NaN     NaN    NaN
1    0.0        NaN     NaN    NaN
2    1.0        NaN     NaN    NaN
3    0.0        NaN     NaN    NaN
4    1.0        NaN     NaN    NaN
5    1.0        NaN     NaN    NaN
6    0.0        NaN     NaN    NaN
7    1.0        NaN     NaN    NaN
8    1.0        NaN     NaN    NaN